<div class="professional-main-heading" style="margin-top: 20px; text-align: center; padding: 15px;">
   <i class="fa fa-phone-square" style="color:#f90b0e"></i>&nbsp;&nbsp;Contact Form
</div>
<div style="min-height: 210px; margin-top: -5px; border-radius: 3px;">
  <!-- professional google form starts -->
     {% include 'professional-google-form' %}
  <!-- professional google form ends -->
</div>