<div style="min-height: 200px; margin-top: 0px;">
                  <div class="banner-panel-franchiseefacts" id="display_image">
                  <div class="row clearfix">
                      <div class="wrapper clearfix" style="background-color:#fff; min-height: 250px; margin-top: 80px; padding: 10px;">
                        <div style="text-align: center; font-size: 25px; font-weight: bold; color:#f90b0e;">
                            Franchisee Facts
                        </div>
                        <div style="clear: both; margin-top: 20px; margin-left: 230px;">
                           <div style="float: left; width: 250px; ">
                             <strong>Total Franchisee :</strong> 3<br/><br/>
                             <strong>Education :</strong> 80% highly qualified<br/><br/>
                             <strong>Office Setup :</strong> 600 sqft<br/><br/>
                             <strong>Tenure :</strong> 3 years (renewable)
                           </div>
                           <div style="float: left; width: 250px;">
                              <strong>Age Group :</strong> 25-45 years<br/><br/>
                              <strong>Expected breakeven :</strong> 3months<br/><br/>
                              <strong>Top Earners :</strong> 16 Lacs per month<br/><br/>
                              <strong>Bottom Earner :</strong> 2 Lacs per month<br/><br/>
                           </div>
                        </div>
                      </div>
                  </div>
                  </div>
                </div>