<div class="get-property-panel" style="margin-top: -15px;">
         <div style="margin-top: 20px; ">
             <div style="padding: 10px; color: #f90b0e; text-align: center; font-size: 32px; ">
               Are you a ?
             </div>
             <div style="clear: both;">
             </div>
             <!-- buyer -->
               <a href="http://in-focus.in/pages/buyers">
                 <div class="get-property-inner">
                 <div style="margin: 0px auto; text-align: center; ">
                   <font style="font-size: 30px; font-weight: bold; color:#999;">Buyer</font><br/>
                   <img src="{{'buyer_new.png' | asset_url}}" style="width: 150px; height: 150px;"/><br/>
                    Are you looking for End-to-End Support in buying your House / Shop / Office.<br/><br/><br/>
                    
                      <div class="get-advice-button">
                      <div style="margin-top: 10px; color:#fff; font-weight: bold; ">
                        Connect
                      </div>
                      </div>
                   
                 </div>
               </div>
               </a>
             <!-- buyer -->
             <!-- seller -->
               <a href="http://in-focus.in/pages/seller">
               <div class="get-property-inner">
                 <div style="margin: 0px auto; text-align: center; ">
                   <font style="font-size: 30px; font-weight: bold; color:#999;">Seller</font><br/>
                   <img src="{{'seller_new.png' | asset_url}}" style="width: 150px; height: 150px;"/><br/>
                    Are you looking for End-to-End support in selling your House / Shop / Office.<br/><br/><br/>
                    <div class="get-advice-button">
                      <div style="margin-top: 10px; color:#fff; font-weight: bold; ">
                        Connect
                      </div>
                   </div>
                 </div>
               </div>
           </a>
             <!-- seller -->
             <!-- tenant -->
               <div class="get-property-inner">
                 <div style="margin: 0px auto; text-align: center; ">
                   <font style="font-size: 30px; font-weight: bold; color:#999;">Tenant</font><br/>
                   <img src="{{'tenant_new.png' | asset_url}}" style="width: 150px; height: 150px;"/><br/>
                    Are you looking for complete End-to-End support in finding a good Accommodation / Shop / Office in this beautiful city.<br/><br/>
                    <div class="get-advice-button">
                      <div style="margin-top: 10px; color:#fff; font-weight: bold; ">
                        Connect
                      </div>
                   </div>
                 </div>
               </div>
             <!-- tenant -->
             <!-- landlord -->
               <a href="http://in-focus.in/pages/seller">
               <div class="get-property-inner">
                 <div style="margin: 0px auto; text-align: center; ">
                   <font style="font-size: 30px; font-weight: bold; color:#999;">Landlord</font><br/>
                   <img src="{{'landlord.png' | asset_url}}" style="width: 150px; height: 150px;"/><br/>
                    Do you wish to have comeplete End-to-End support in giving your second Home / Shop / Office space on lease.<br/><br/>
                    <div class="get-advice-button">
                      <div style="margin-top: 10px; color:#fff; font-weight: bold; ">
                         Connect
                      </div>
                   </div>
                 </div>
               </div>
           </a>
             <!-- landlord -->
           <div style="clear: both;">
           </div>
         </div>
      </div>