<div class="info-panel" style="margin-top:-15px;">
         <div class="info-box">
            <div style="margin:0px auto; margin-top: 20px;">
               <!-- <i class="fa fa-building" style="font-size: 50px; margin-left: 130px; color:#999;"></i> -->
               <div style="float: left; margin-left: 112px;">
                 <h2 class="timer count-title" id="count-number" data-to="03" data-speed="1500" style="margin-left: 23px;"></h2>
              </div>
              <!-- <div style="float: left;">
                <h2 class="count-title" style="margin-left: 8px;">+</h2>
              </div> -->
              <div style="clear: both;">
       		   <p class="count-text" style="margin-left: 10px; font-size: 15px; font-weight: bold; color:#999">Centers</p>
              </div>
           </div>
        </div>
        <div class="info-box">
            <div style="margin:0px auto; margin-top: 20px;">
              <div style="float: left; margin-left: 82px;">
                 <h2 class="timer count-title" id="count-number" data-to="250" data-speed="1500" style="margin-left: 30px;"></h2>
              </div>
              <!-- <div style="float: left;">
                <h2 class="count-title" style="margin-left: 8px;">+</h2>
              </div> -->
              <div style="clear: both;">
       		   <p class="count-text" style="margin-left: 10px; font-size: 15px; font-weight: bold; color:#999">Verified Professionals</p>
              </div>
          </div>
        </div>
        <div class="info-box">
            <div style="margin:0px auto; margin-top: 20px;">
               <div style="float: left; margin-left: 100px;">
                 <h2 class="timer count-title" id="count-number" data-to="50" data-speed="1500" style="margin-left: 25px;"></h2>
              </div>
              <!-- <div style="float: left;">
                <h2 class="count-title" style="margin-left: 8px;">+</h2>
              </div> -->
              <div style="clear: both;">
       		   <p class="count-text" style="margin-left: 10px; font-size: 15px; font-weight: bold; color:#999">New Projects</p>
              </div>
            </div>
        </div>
      </div>