  <div class="row clearfix" style="border-bottom: 1px solid #e0e0e0; margin-bottom:10px;">
    <!-- defining width -->
        <div style="width: 975px; height: 80px; margin:0px auto;">
          	<!-- logo panel starts -->
                <div style="float: left; margin-left: 10px;">
                  	 <a  href="http://in-focus.in/">
                       <img class="logo" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" /> 
                     </a>
                </div>
            <!-- logo panel ends -->
          <!-- menu left starts -->
          		<div style="float: left; padding: 8px; margin-left: 70px; margin-top: 25px; ">
                  	<div style="float: left; font-size: 12px; text-transform: uppercase;">
                       <a href="http://property.in-focus.in/collections/professional">
                         Professionals
                       </a>  
                    </div>
                    <div style="float: left; font-size: 16px; font-weight: bold; margin: 0px 10px;">
                      &nbsp;
                    </div>
                    <div style="float: left; font-size: 12px; text-transform: uppercase;">
                       <a href="http://property.in-focus.in/collections/info-centers/locality:-Kandivali-(E)">
                         Center
                       </a>  
                    </div>
                    <div style="float: left; font-size: 16px; font-weight: bold; margin: 0px 10px;">
                       &nbsp;
                    </div>
                    <div style="float: left; font-size: 12px; text-transform: uppercase;">
                       <a href="http://property.in-focus.in/collections/new-projects">
                         New Projects
                       </a>  
                    </div>
                </div>
          <!-- menu left ends -->
          <!-- menu right starts -->
            <div style="float: right; margin-right: 15px; margin-top: 15px;">
               <ul class="nav navbar-nav navbar-right">
                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                      Are you a <span class="caret"></span>
                    </a>
                       <ul class="dropdown-menu" role="menu">
                         <li> 
                           <a href="http://in-focus.in/pages/buyers">
                             Buyer
                           </a>
                         </li>  
                         <li> 
                           <a href="http://property.in-focus.in/pages/seller"> 
                             Seller 
                           </a>
                         </li>
                         <li>
                           <a href="http://property.in-focus.in/pages/professional">
                             Brokers  
                           </a> 
                         </li>
                         <li>
                           <a href="http://property.in-focus.in/pages/Franchisee"> 
                             Aspiring Entrepreneurs 
                           </a> 
                         </li>
                       </ul>
                   </li>
                </ul>
            </div>
          <!-- menu right ends -->
        </div>
    <!-- defining width -->
  </div>

