<div style="width: 230px; float: left; margin-left: 10px; padding: 3px;">
  <div id="video-panel" style="height: 250px; border:1px solid #e0e0e0;">
    <iframe width="230" height="250" src="http://www.youtube.com/embed/
{{ video_youtube }}?autoplay=0&cc_load_policy=1" frameborder="0"
allowfullscreen></iframe>
  </div>
  <div id="video-heading" style="background-color:#f90b0e; color:#fff; font-size: 25px; font-weight: bold; height: 80px; padding: 5px; clear: both; text-align: center;">
    <div style="margin-top: 20px;">
      Video Profile
    </div>
  </div>
</div>