<!-- test 2 -->
<div style="border-bottom: 2px solid #f90b0e; height: 45px;">
<div id="getprofessionals" class="tabbuttonactive">Connect to Professionals</div>
<div style="margin-left: 5px;" id="browseprojects" class="tabbutton">Buy New Projects</div>
<div style="margin-left: 5px;" id="connectdirectly" class="tabbutton">Connect with us</div>
</div>
<div style="min-height: 100px; border-radius:5px; padding: 10px; margin-top: -23px;">
<div id="profess">
  <div style="font-size: 25px; font-weight: bold; padding: 15px; text-align: left; margin-top: 40px; color:#fff;">
    For transparent &amp; hassle free transactions
  </div>
  <div style="clear: both; font-size: 18px; font-weight: bold; padding: 15px; text-align: left; margin-top: -20px; color:#f90b0e;">
   Deal With Experienced, Verified &amp; Rated Professionals.
  </div>
  <div style="margin-top: 20px; width: 150px; clear: both; margin-left: 15px;">
    <span class="input-group-btn">
    <a href="http://in-focus.in/collections/professional">
      <button class="btn icon-fallback-text" style="padding: 15px; width: 200px; font-size: 15px; font-weight: bold;">
      <!-- <span class="icon icon-search" aria-hidden="true"></span> -->
      <span class="fallback-text" style="font-family: arial;">Find them Here</span>
      </button>
    </a>
  </span>
  </div>
</div>
<div id="browse" class="displaynone">
  <div style="font-size: 25px; font-weight: bold; padding: 15px; text-align: left; margin-top: 40px; color:#fff;">
    Don’t only search
  </div>
  <div style="clear: both; font-size: 18px; font-weight: bold; padding: 15px; text-align: left; margin-top: -20px; color:#f90b0e;">
   BUY ONLINE, by just paying a small token money
  </div>
  <div style="margin-top: 20px; width: 150px; clear: both; margin-left: 15px;">
    <span class="input-group-btn">
    <a href="http://property.in-focus.in/collections/new-projects">
      <button class="btn icon-fallback-text" style="padding: 15px; width: 200px; font-size: 15px; font-weight: bold;">
      <!-- <span class="icon icon-search" aria-hidden="true"></span> -->
      <span class="fallback-text" style="font-family: arial;">Search Here</span>
      </button>
    </a>
  </span>
  </div>
</div>
<div id="connect" class="displaynone">
  <div style="font-size: 25px; font-weight: bold; padding: 15px; text-align: left; margin-top: 40px; color:#fff;">
    Still confused or want to save time! 
  </div>
  <div style="clear: both; font-size: 18px; font-weight: bold; padding: 15px; text-align: left; margin-top: -20px; color:#f90b0e;">
   Visit our center or call on our Toll Free Number.
  </div>
  <div style="clear: both; font-size: 20px; font-weight: bold; padding: 15px; text-align: left; margin-top: -20px; color:#f90b0e;">
   1800 532 6070
  </div>
  <div style="margin-top: 20px; width: 150px; clear: both; margin-left: 15px;">
    <span class="input-group-btn">
    <a href="http://property.in-focus.in/collections/info-centers/locality:-Kandivali-(E)">
      <button class="btn icon-fallback-text" style="padding: 15px; width: 200px; font-size: 15px; font-weight: bold;">
      <!-- <span class="icon icon-search" aria-hidden="true"></span> -->
      <span class="fallback-text" style="font-family: arial;">Store Info</span>
      </button>
    </a>
  </span>
  </div>
  </div>
</div>
<!-- test 2 ends -->