<div class="professional-main-heading" style="text-align: center;">
   <i class="fa fa-users" style="color:#f90b0e"></i>&nbsp;&nbsp;Social Profiles
</div>
<div style="min-height: 100px; margin-top: 10px; padding: 5px; width: 230px;">
  <!-- professional google form starts -->
     {% if website != blank %}
               <a href="http://{{ website }}" target="_blank">
               	<div id="social-button">
                     <div style="width: 30px; float: left; text-align: center;">
                       <i class="fa fa-external-link-square" style="color:#fff; font-size: 25px;"></i>
                   </div>
                   <div class="firsttext" style="float: left; margin-left: 10px; text-align: left; color:#fff; font-size: 15px; margin-top: 3px; font-weight: bold; ">
                      view my Website
                     </div>
                   <div style="clear: both;">
                     </div>
                 </div>  
               </a>
            {% endif %}
            {% if linkedin_link != blank %}
               <a href="http://{{ linkedin_link }}" target="_blank">
               	<div style="background-color:#007bb6;  margin-top: 5px; margin-bottom: 5px; padding: 10px; border-radius: 3px; color:#fff; font-size: 15px;">
                     <div style="width: 30px; float: left; text-align: center;">
                       <i class="fa fa-linkedin" style="color:#fff; font-size: 25px;"></i>
                   </div>
                   <div class="firsttext" style="float: left; margin-left: 10px; text-align: left; color:#fff; font-size: 15px; margin-top: 3px; font-weight: bold; ">
                      view my Profile
                     </div>
                   <div style="clear: both;">
                     </div>
                 </div>  
               </a>
            {% endif %}
            {% if facebook_link != blank %}
               <a href="http://{{ facebook_link }}" target="_blank">
                 <div style="background-color:#3b5998; margin-top: 5px; margin-bottom: 5px; padding: 10px; border-radius: 3px; color:#fff; font-size: 15px;">
                     <div style="width: 30px; float: left; text-align: center;">
                       <i class="fa fa-facebook" style="color:#fff; font-size: 25px;"></i>
                   </div>
                   <div class="firsttext" style="float: left; margin-left: 10px; text-align: left; color:#fff; font-size: 15px; margin-top: 3px; font-weight: bold; ">
                      view my Profile
                     </div>
                   <div style="clear: both;">
                     </div>
                 </div>
                </a>
            {% endif %}
            {% if twitter_link != blank %}
              <a href="http://{{ twitter_link }}" target="_blank">
               <div style="background-color:#1dcaff;  margin-top: 5px; margin-bottom: 5px; padding: 10px; border-radius: 3px; color:#fff; font-size: 15px;">
                     <div style="width: 30px; float: left; text-align: center;">
                       <i class="fa fa-twitter" style="color:#fff; font-size: 25px;"></i>
                   </div>
                   <div class="firsttext" style="float: left; margin-left: 10px; text-align: left; color:#fff; font-size: 15px; margin-top: 3px; font-weight: bold; ">
                      view my Profile
                     </div>
                   <div style="clear: both;">
                     </div>
                 </div>
                </a>
            {% endif %}
  <!-- professional google form ends -->
</div>