<div class="why-us-panel">
         <div style="margin-top: 10px; ">
             <div style="padding: 10px; color: #f90b0e; text-align: center; font-size: 32px;">
               Why us ?
             </div>
             <div style="clear: both;">
             </div>
             <div style="padding: 5px; color: #999; text-align: center; font-size: 20px; margin-top: -10px; ">
               Only platform to connect you to
             </div>
             <!-- experiencend -->
               <div class="why-us-inner">
                 <div style="margin: 0px auto; text-align: center; ">
                   <i class="fa fa-user-secret" id="why-us-icon"></i><br/>
                   <font style="font-size: 20px; font-weight: bold; color:#f90b0e;">Experienced</font><br/><br/>
                   <font style="font-size: 12px; width: 150px;">Not only in no of years, But Quality of dealing with consumer too.</font><br/><br/>
                 </div>
               </div>
             <!-- experiencend -->
             <!-- Locality Specialist -->
               <div class="why-us-inner">
                 <div style="margin: 0px auto; text-align: center; ">
                   <i class="fa fa-map-marker" id="why-us-icon"></i><br/>
                   <font style="font-size: 20px; font-weight: bold; color:#f90b0e;">Locality Specialist</font><br/><br/>
                   <font style="font-size: 12px; width: 150px;"> We have Area / locality specialist Professionals Understand the area better both good &amp; bad</font><br/><br/>
                 </div>
               </div>
             <!-- Locality Specialist -->
             <!-- Verified  -->
               <div class="why-us-inner">
                 <div style="margin: 0px auto; text-align: center; ">
                   <i class="fa fa-check" id="why-us-icon"></i><br/>
                   <font style="font-size: 20px; font-weight: bold; color:#f90b0e;">Verified</font><br/><br/>
                   <font style="font-size: 12px; width: 150px;">Details of the Professionals listed is verified for your <br/>convenience and trust</font><br/><br/>
                 </div>
               </div>
             <!-- Verified  -->
             <!-- Rated -->
               <div class="why-us-inner">
                 <div style="margin: 0px auto; text-align: center; ">
                   <i class="fa fa-thumbs-o-up" id="why-us-icon"></i><br/>
                   <font style="font-size: 20px; font-weight: bold; color:#f90b0e;">Rated</font><br/><br/>
                   <font style="font-size: 12px; width: 150px;">Our team of ratifiers have rated these professional, but your views and rating will add to their credibility</font><br/><br/>
                 </div>
               </div>
             <!-- Rated -->
           <div style="clear: both;">
           </div>
         </div>
      </div>