<style type="text/css">   
.row{
 margin-right: 0px !important;
}
  #main{
    width: 100% !important;
  }
  #main-wrapper{
    min-height: 570px;
  }
    </style>
          <!-- banner starts -->
           <!-- main banner starts -->
                <!-- banner panel starts -->
                <div style="height: 200px; margin-top: -10px;">
                  <div class="banner-panel-franchisee" id="display_image">
                  <div class="row clearfix">
                      <div class="wrapper clearfix">
                          <h1 class="text-center" style="text-align: center; font-size: 40px; text-transform: uppercase; margin-top: 50px; color:#f90b0e; text-shadow: 1px 1px 1px #000;">
                            <b class="large">Aspiring Entrepreneurs</b>
                          </h1>
                          <h4 class="text-center mess" style="text-align: center; font-size: 25px; margin-top: 10px; color:#f90b0e; text-shadow: 1px 1px 1px #000;">Start your own business in Real Estate with high Returns</h4>
                      </div>
                  </div>
                  </div>
                </div>
                <!-- banner panel ends  -->
          <!-- main banner ends -->
         <!-- banner ends -->
         <div style="min-height: 200px; background-color:#f1f1f1; padding: 10px;">
            <div class="wrapper clearfix" style="margin-top: 40px; margin-bottom: 40px;">
                <div style="width: 600px; float: left;">
                  <div class="caption" style="margin-bottom: 30px; color:#f90b0e;">
                                     <h4> Few FAQ’s for Aspiring Entrepreneurs:</h4>

                                </div>
                    <div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel1">Who we are?</a>
            </h4>
        </div>
        <div id="panel1" class="panel-collapse collapse in">
            <div class="panel-body">
              Biggest "Online and Offline" platform of Experienced, Verified &amp; Rated Professionals in Real Estate.
            </div>
        </div>
    </div>
   
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel2">Why we want these centers?</a>
            </h4>
        </div>
        <div id="panel2" class="panel-collapse collapse">
            <div class="panel-body">
                To facilitate the transactions in each territory, info-centres are needed, and are there to manage the day to day operations among all parties involved.
            </div>
        </div>
    </div>
                                 
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel3">Who can open a center?</a>
            </h4>
        </div>
        <div id="panel3" class="panel-collapse collapse">
            <div class="panel-body">
                Anybody who wants to start a career in Real Estate or want to be a part of this ever growing industry. 
            </div>
        </div>
    </div>
                                
                                 
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel4">Requirements?</a>
            </h4>
        </div>
        <div id="panel4" class="panel-collapse collapse">
            <div class="panel-body">
                Area Required - Approx 600 sq ft<br/><br/>
                Investment Required - Approx 10 lakh to 20 Lakh (Depending upon the location &amp; condition of property)<br/><br/>
                Returns (Projected) - 100 % ROI in 1st year
            </div>
        </div>
    </div>
                                 

</div>
                </div>
                <div style="width: 350px; float: left; margin-left: 10px; background-color:#fff; border-radius: 3px; border:1px solid #e0e0e0;">
                  {% include 'franchisee-form' %}
                  <div style="height: 20px; clear: both;">
                  </div>
                </div>
            </div>
         </div>
         <!-- banner panel starts -->
               {% include 'franchisee-facts' %} 
                <!-- banner panel ends  -->
         <!-- testimonials starts -->
         <div style="min-height: 200px; margin-top: 0px;">
             <div class="wrapper clearfix">
               <div style="margin-top: 40px; margin-bottom: 40px;">
                <div class="caption" style="text-align: center; color:#f90b0e; font-size: 25px; font-weight: bold; ">
                                 <h4 style="font-size: 25px; font-weight: bold;"> What people say about us?</h4>

                            </div>
                 <div style="clear: both; margin-top: 10px; margin-bottom: 10px;">
                 </div>
                            <div style="margin-top: 40px; margin-left: 200px;">
                               <div class="col-md-5 column">
                              <article class="thumbnail_line"><div  class="block-cont">
                           
                                <div><b>Arvind Sharma</b>
                                  </div>
                                <span ><b>ex CEO Leo Burnett</b></span><p>
                               First initiative ever in its kind. Really insightful.</p></div>
                              </article>
                            </div>
                             <div class="col-md-5 column">
                              <article class="thumbnail_line"><div  class="block-cont">
                           
                                <div ><b>Mukesh</b>
                                 </div>
                                <span ><b>G K Enterprises</b></span><p>
                              This is a great platform. I recommend this to all customer.</p></div>
                              </article>
                            </div>
                               
                         
                          
                          
                          
                           <div class="col-md-5 column center-block">
                              <article class="thumbnail_line"><div  class="block-cont">
                           
                                <div><b>Lokesh Agrawal</b>
                                   </div>
                                <span ><b>Ace Consultancy</b></span><p>
                               A really new and innovative platform for finding the right professional.</p></div>
                              </article>
                            </div>
                          
                          
                            <div class="col-md-5 column center-block">
                              <article class="thumbnail_line"><div  class="block-cont">
                           
                                <div><b>Mr. Rakesh Sahu</b>
                                   </div>
                                <span ></span><p>
                               Amazing platform, to meet the like minded people
                                </p></div>
                              </article>
                            </div>
                            </div>
             </div>
           </div>
         </div>
         <!-- testimonials ends -->